<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
    <title>Product App</title>
</head>
<body>
    <div id="app">
        <div class="cart">
            <p>Товаров в корзине({{ cart }})</p>
        </div>
        <div class="product">
            <div class="product-image">
                <img v-bind:alt="altText" :src="image"/>
            </div>
            <div class="product-info">
                <h1>{{ product }}</h1>
                <p v-if="inStock">In stock</p>
                <p v-else>Out of Stock</p>

                <ul>
                    <li v-for="detail in details">{{detail}}</li>
                </ul>

                <div v-for="variant in variants" :key="variant.variantId">
                    <p @mouseover="updateProduct(variant.variantImage)">{{variant.variantColor}}</p>
                </div>

                <div class="button-wrapper">
                    <button v-on:click="addToCart">Add to cart</button>
                    <button id="removeToCart" v-on:click="removeToCart">Remove from cart</button>
                </div>
            </div>
        </div> <!-- product -->
    </div> <!-- #app -->
</body>
</html>