<form class="review-form" @submit.prevent="onSubmit">
    <p>
        <label for="name">Name:</label>
        <input id="name" v-model="name" placeholder="name">
    </p>

    <p>
        <label for="review">Review:</label>
        <textarea id="review" v-model="review"></textarea>
    </p>

    <p>
        <label for="rating">Rating:</label>
        <select id="rating" v-model.number="rating">
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
        </select>
    </p>

    <p class="title">Would you recommend this product?</p>
    <div class="radio-wrapper">
        <label>
            <span>yes</span>
            <input type="radio" name="isRec" value="yes" v-model="isRec">
        </label>

        <label>
            <span>no</span>
            <input type="radio" name="isRec" value="no" v-model="isRec">
        </label>
    </div>

    <p>
        <input type="submit" value="Submit">
    </p>

    <p v-if="errors.length">
        <b>Please correct the following error(s):</b>
        <ul>
            <li v-for="error in errors">{{ error }}</li>
        </ul>
    </p>

</form>