<div class="product">
  <div class="product-image">
    <img :src="image" :alt="altText">
  </div>
  <div class="product-info">
    <h1>{{title}}</h1>
    <div class="sale-wrapper">
      <p class="onSale" v-if="onSale">Sale</p>
    </div>

    <p v-if="inStock">In stock</p>
    <p v-else :class="{isNotStock: !inStock}">Out of Stock</p>

    <product-details :details="details"></product-details>

    <p>Shipping: {{shipping}}</p>

    <div class="color-box"
         v-for="(variant, index) in variants"
         :key="variant.variantId"
         :style="{backgroundColor:variant.variantColor}"
         @mouseover="updateProduct(index)"
    ></div>

    <div class="button-wrapper">
      <button
              @click="addToCart"
              :disabled="!inStock"
              :class="{disabledButton: !inStock}"
      > Add to cart
      </button>

      <button id="removeToCart" @click="removeToCart">
        Remove from cart
      </button>
    </div> <!-- button-wrapper -->
  </div> <!-- product-info -->

  <div>
    <h2>Reviews</h2>
    <p v-if="!reviews.length">There are no reviews yet.</p>
    <ul>
      <li v-for="review in reviews">
        <p>{{ review.name }}</p>
        <p>Rating: {{ review.rating }}</p>
        <p>{{ review.review }}</p>
      </li>
    </ul>
  </div>

  <product-review @review-submitted="addReview"></product-review>
</div> <!-- product -->